body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root>div{
  display: inline-grid;    
  grid-template: 5% 94% / 1fr;
  width: 100%;
  height: 100%;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
